.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Anek Malayalam', sans-serif;
  color: #11052c;
  margin: 0;
   background-image: url("../src/assets/background.jpg");
}

/* .navBar-background{
 background-color: #92ada4;
} */

.quiz-container {
  max-width: 700px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  border: solid 2px #dadada;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #b3d9e0;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #b3d9e0;
  border: 1px solid #b3d9e0;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #b3d9e0 0.03%, #f2d6a1 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #b3d9e0;
  font-size: 22px;
}

.right {
  display: flex;
  justify-content: end;
}

.section01 {
  padding: 60px;
  border: solid #dadada 2px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px #dadada;
  position: relative;
  color: #f1a805;
  text-align: center;
  font-size: 22px;
  font-weight: 'Strong';
}

.section01 a{
  color: #f1a805;
  text-decoration: none;
}

.flex-row {

  display: flex;

  justify-content: center;
}

.position-bottom{
  position: absolute;
  bottom: 0px;
  right: 0;
}


.answer-final{
  color: #030605  !important;
  padding: 10px;
  margin: 10px;
}

.question-final{
  color: #000000;
  font-size: 16px  ;
  border: solid #9fa3a9 1px;
  border-radius: 10px;
  padding: 5px;

}

.question-final-1{
  background-color: #d1deff;
  margin: 5px;
  border: solid #000000 1px;
  border-radius: 10px;
  padding: 10px;
}

.main-container-quiz{
  display: flex;
  align-items: center;
  justify-content: center;


}
.result-main{
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 700px;
}

.text-introduce{
  text-align: center;
  font-size: 30px;
  color: #F2D6A1;
  padding-top: 10px;
}

.text-introduce span span{
  color: #b3d9e0;
}


.text-introduce p{
  font-size: 19px;
}


.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #eaef9d;
  text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: wheat;
}
.footer-links.inline li {
  display: inline-block;
}


.footer {
 padding-top: 5.5%;
 color: #f2d6a1;
}

.backHome{
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
}